* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.app {
    font-family: Arial;
    width: 100%;
    height: 100%;
}

.header {
    width: 1200px;
    height: 300px;
    margin: auto;
    background-image: url('images/wallpaper3.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 300px;
}

.company-title {
    color: #ff0055;
    font-size: 20px;
    text-align: left;
    padding: 15px 60px;
}

.search-filter-title {
    color: white;
    text-transform: uppercase;
}

.search-filter-btn-title {
    color: white;
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    border: none;
    background-color:#808080;
}

.search-filter-btn-genre {
    color: white;
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    border: none;
    background-color:#808080;
}

.focused {
    background: #ff0055;
}

.selected {
    color: #ff0055;
}

.search-value {
    height: 40px;
    width: 1080px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 10px 60px 20px 60px;
    color: white;
    border-color: black black #ff0055 black;
}

.search-title {
    color: white;
    margin: 10px 60px;
    text-transform: uppercase;
}

.search-filter {
    display: flex;
    margin: 0px 60px;
    justify-content: space-between;
    align-items: baseline;
    width: 320px;
    height: 40px;
}

.first-title {
    display: inline-block;
}

.film-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.film-collection::after {
    content: "";
    flex: auto;
  }

.footer {
    width: 1200px;
    height: 50px;
    margin: auto;
    background-color:#404040;
}

.results-area {
    width: 1200px;
    height: 60px;
    margin: auto;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-results-btn {
    border: none;
    background-color: #e6e6e6;
    font-weight: bold;
    font-size: 18px;
}

.search-button {
    width: 150px;
    height: 40px;
    background-color: #ff0055;
    color: white;
    font-size: 20px;
    border: none;
}

.search-buttons {
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-area {
    display: flex;
    flex-direction: column;
}

.results-title {
    font-weight: bold;
    font-size: 20px;
}

.results-filter {
    display: flex;
    width: 250px;
    height: 20px;
    align-items: baseline;
    justify-content: space-around;
}

.results-filter-title {
    font-weight: bold;
    font-size: 20px;
}

.film-asset {
    width: 285px;
    max-height: 480px;
    margin: 15px 24px;
    border: 1px solid black;
    font-size: 14px;
}

.no-films {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 20px;
    text-align: center;
}

.films-container {
    margin: auto;
    width: 1200px;
    min-height: 500px;
}

.first-title {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    font-weight: bold;
    margin: 0px 5px;
}

.film-asset-name {
    width: 180px;
}

.film-title {
    display: flex;
    flex-direction: column;
}

.release-date {
    border: 1px solid black;
    height: 18px;
}

.second-title {
    margin-left: 5px;
    font-style: italic;
    font-size: 12;
}

.film-info {
    width: 1200px;
    height: 500px;
    margin: auto;
    background-image: url('images/wallpaper3.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 500px;
}

.search-navigation {
    width: 150px;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ff0055;
    display: inline-block;
    margin: 20px 40px;
}

.top-film-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poster {
    margin: 0px 20px;
}

.film-poster-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.film-name-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 250px;
    max-width: 400px;
    align-items: baseline;
}

.film-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* min-height: 200px; */
    max-height: 300px;
    width: 740px;
    margin-right: 60px;
}

.film-name {
    color: #ff0055;
    font-size: 27px;
    font-weight: bold;
    min-height: 50px;
    max-width: 300px;
}

.film-rating {
    color: rgb(25, 204, 25);
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid rgb(25, 204, 25);
    text-align: center;
    line-height: 50px;
}

.film-tagline {
    color: rgb(197, 195, 195);
    font-size: 18px;
}

.film-date-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    width: 300px;
}

.film-description {
    color: rgb(197, 195, 195);
    font-size: 18px;
}

.film-genre {
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}